<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS(EMBADDED JAVASCRIPT)</title>
</head>

<body>
    <h1>EJS TUTORIAL</h1>
    <p>Lorem  ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellat voluptatum molestias officia
        voluptatem, minus obcaecati animi dicta. Iusto repellendus doloremque odit? Libero laborum explicabo nostrum
        temporibus, neque maiores eligendi.</p>
       

</body>

</html>